@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48.0000 23.8095% 95.8824%;
    --foreground: 0 0% 12.5490%;
    --card: 0 0% 98.8235%;
    --card-foreground: 0 0% 12.5490%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 12.5490%;
    --primary: 46.1538 33.3333% 92.3529%;
    --primary-foreground: 0 0% 12.5490%;
    --secondary: 72.7007 84.0491% 68.0392%;
    --secondary-foreground: 72.8571 84.0000% 90.1961%;
    --muted: 0 0% 93.7255%;
    --muted-foreground: 0 0% 39.2157%;
    --accent: 0 0% 90.9804%;
    --accent-foreground: 0 0% 12.5490%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84.7059%;
    --input: 0 0% 84.7059%;
    --ring: 0 0% 84.7059%;
    --chart-1: 16.6667 21.9512% 32.1569%;
    --chart-2: 34.0541 100.0000% 85.4902%;
    --chart-3: 0 0% 90.9804%;
    --chart-4: 34.5763 100.0000% 88.4314%;
    --chart-5: 16.5000 24.3902% 32.1569%;
    --sidebar: 48.0000 23.8095% 95.8824%;
    --sidebar-foreground: 0 0% 14.5098%;
    --sidebar-primary: 0 0% 20.3922%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 0 0% 96.8627%;
    --sidebar-accent-foreground: 0 0% 20.3922%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  .dark {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 93.3333%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 93.3333%;
    --popover: 0 0% 9.8039%;
    --popover-foreground: 0 0% 93.3333%;
    --primary: 46.1538 33.3333% 92.3529%;
    --primary-foreground: 183.1579 54.2857% 6.8627%;
    --secondary: 71.6129 79.4872% 69.4118%;
    --secondary-foreground: 0 0% 16.4706%;
    --muted: 0 0% 13.3333%;
    --muted-foreground: 0 0% 70.5882%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 93.3333%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 14.2857% 10.9804%;
    --input: 0 0% 28.2353%;
    --ring: 29.5082 100% 88.0392%;
    --chart-1: 29.5082 100% 88.0392%;
    --chart-2: 28.2353 17.5258% 19.0196%;
    --chart-3: 0 0% 16.4706%;
    --chart-4: 30.0000 17.8571% 21.9608%;
    --chart-5: 30 100% 87.8431%;
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    overscroll-behavior-y: none;
  }

  html {
    overscroll-behavior-y: none;
  }
}